.dark-tab.nav-tabs {
   border: 1px solid white;
   margin-bottom: 16px;
   /* margin-top: 16px; */
   border-radius: 500px;
   flex-wrap: nowrap;
}

/* .tab-content {}

.tab-panel {}

.nav-item .nav-link {} */


.dark-tab.nav-tabs .nav-link {
   flex: 1 1 0;
   text-align: center;
   color: white;
   transition: color 250ms ease-in;
   border: none;
}

/* .dark-tab.nav.nav-tabs>.nav-item:first-of-type {
   border-right: 1px solid white;
   border-radius: 0px;
}

.dark-tab.nav.nav-tabs>.nav-item:last-of-type {
   border-left: 1px solid white;
   border-radius: 0px;
} */

.dark-tab.nav-tabs>a:first-of-type.nav-link.active {
   border-top-left-radius: 500px;
   border-bottom-left-radius: 500px;
   border-top-right-radius: 0rem;
   border-bottom-right-radius: 0rem;
}

.dark-tab.nav-tabs>a:last-of-type.nav-link.active {
   border-top-left-radius: 0rem;
   border-bottom-left-radius: 0rem;
   border-top-right-radius: 500px;
   border-bottom-right-radius: 500px;
}

.dark-tab.nav-tabs>a.nav-link.active {
   border-top-left-radius: 0rem;
   border-bottom-left-radius: 0rem;
   border-top-right-radius: 0rem;
   border-bottom-right-radius: 0rem;
}

/* .dark-tab.nav-tabs .nav-item.show .nav-link,
.dark-tab.nav-tabs .nav-link {
   background-color: rgba(255, 255, 255, 0);
   transition: background-color 500ms ease-in-out;
} */

.dark-tab.nav-tabs .nav-item.show .nav-link,
.dark-tab.nav-tabs .nav-link.active {
   background-color: rgb(255, 255, 255);
   /* border-radius: 0rem; */
   /* border: none; */
   color: #007BFF;
   margin: 0;
}

.dark-tabs>.nav-link.active {
   border: none;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
   border-color: rgba(36, 0, 0, 0);
   color: #007BFF;
}

.entered {
   border: 1px solid green;
}


@media (max-width: 576px) {
   /* .user-program-day {} */

   .user-program-day.my-5 {
      margin-bottom: 2rem !important;
      margin-top: 2rem !important;
   }

   .user-program-day h3 {
      font-size: 1.25rem;
   }
}