:root {
   --circle-size: min(25vw, 15rem);
   --js-purple: #412a34;
   --js-purple-light: #a76884;
   --js-gray: rgb(26, 26, 26);
}

/* font-family: 'Raleway', Arial, sans-serif; weights: regular, italic, 900 */
body {
   font-family: 'Raleway', Arial, sans-serif;
   background-color: rgb(244, 239, 244);
}

body::-webkit-scrollbar {
   width: 0px;
   /* Remove scrollbar space */
   background: transparent;
   /* Optional: just make scrollbar invisible */
}

.navbar {
   box-shadow: 0 10px 10px -5px rgba(0, 0, 0, .2);
}

.bg-purple {
   background-color: var(--js-purple);
}

.bg-gray {
   background-color: var(--js-gray);
   color: white;
}

.bg-black {
   background-color: black;
   /* color: white; */
}

.bg-gray-light {
   background-color: rgb(55, 55, 55);
   color: white;
}

/* responsive text */
/* html {
   font-size: calc(.5rem + 1vw);
   font-size: min(calc(.5rem + 1vw), 2rem);
} */

/* .color-white {
   color: white;
} */

/* Inactive tab */
/* .dark-tab>a {
   background-color: black;
   color: white;
   border: white;
}

.dark-tab>a:hover {
   background-color: black;
   background-color: rgba(125, 125, 125, 0.215);
   border: 1px solid white;
} */


/* .list-group-item:first-child {
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
} */

/* .list-group-item:first-child {
   border-top: 0px;
} */

.no-top-border:first-child {
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-top: 0px;
}

.no-top-border {
   border-top: 0px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


.xs-visible {
   display: block;
}

.sm-visible {
   display: none;
}

.md-visible {
   display: none;
}

.lg-visible {
   display: none;
}


.data-grid-control,
.data-grid-control input {
   background-color: rgba(173, 216, 230, 0);
   border: none;
   width: 100%;
}


table .vertical-align-center {
   vertical-align: middle;
}

.dth-number {
   min-width: 3rem;
   width: 3rem;
}

.dth-description {
   min-width: 15rem;
   width: 15rem;
}

.dth-link {
   min-width: 9rem;
   width: 9rem;
}

.dth-sets {
   min-width: 3rem;
   width: 3rem;
}

.dth-reps {
   min-width: 9rem;
   width: 9rem;
}

.dth-tempo {
   min-width: 9rem;
   width: 9rem;
}

.dth-rest {
   min-width: 6rem;
   width: 6rem;
}

.dth-w1 {
   min-width: 3rem;
   width: 3rem;
}

.dth-w2 {
   min-width: 3rem;
   width: 3rem;
}

.dth-w3 {
   min-width: 3rem;
   width: 3rem;
}

.dth-btn {
   width: 45px;
}

.messageContainer {
   height: 70vh;
   overflow-y: scroll;
}

.messageContainer::-webkit-scrollbar {
   width: 0px;
   /* Remove scrollbar space */
   background: transparent;
   /* Optional: just make scrollbar invisible */
}

.message {
   max-width: 75%;
   display: inline-block;
   margin-top: .5rem;
}

.messageUsername {
   color: rgb(126, 126, 126);
   font-size: 0.75rem;
}

.messageText {
   padding: 0.25rem 0.75rem;
}

.messageDate {
   color: rgb(126, 126, 126);
   font-size: 0.75rem;
}

.messageReceiver .messageText {
   background-color: rgb(223, 223, 223);
   border-radius: 1rem 1rem 1rem 1rem;
}

.messageSender .messageText {
   background-color: rgb(194, 226, 237);
   border-radius: 1rem 1rem 1rem 1rem;
}

.messageReceiver .messageUsername {
   text-align: left;
}

.messageSender .messageUsername {
   text-align: right;
}

.landingContain {
   max-width: 700px;
   font-size: 1.25rem;
}

.joinTitle {
   text-align: center;
   font-size: 1.5rem;
}

.info {
   font-size: 1rem;
   max-width: 700px;
}

.signUpButton {
   /* width: 100px;
height: 75px; */
   font-size: 2rem;
   background-color: #ffffff00;
   border: 5px solid var(--js-purple);
   color: black;
   padding: 50px 50px;
   text-align: center;
}

.signUpButton:hover {
   text-decoration: none;
   background-color: var(--js-purple);
   color: white;
}

/* .benefitCircleContain {
   width: 80%;
} */


.whatDoesVideo {
   /* height: auto;
   width: 33vw; */
   /* height: 360px; */
   /* width: 480px; */
   max-width: 500px;
   width: 75%;
   height: 300px;
   /* background-color: black; */
}

.topRow {
   margin-bottom: -10px;
}

.benefitCircle {
   /* background-color: #ffffff00;
   width: 100px;
   height: 100px;
   /* padding: 14px 25px; */

   margin-left: 1vw;
   margin-right: 1vw;
   color: black;
   text-align: center;
   border-radius: 50%;
   border: 3px solid var(--js-purple);
   width: var(--circle-size);
   height: var(--circle-size);
   text-align: center;
   font-weight: 900;
   /* background-color: #333; */
}

.benefitsTitle {
   font-weight: 900;
   font-size: 3rem;
}

.benefitCircle span {
   height: var(--circle-size);
   display: inline-block;
   zoom: 1;
   *display: inline;
   vertical-align: middle;
}

.benefitCircle p {
   max-width: 75%;
   display: inline-block;
   zoom: 1;
   *display: inline;
   vertical-align: middle;
   /* color: #fff; */
   font-size: calc(0.5rem + 1vw);
   color: black;
   margin: 0;
   padding: 0;
}

.onlineTitle {
   font-weight: 900;
   font-size: 4rem;
   text-align: center;
}

.whatDoesTitle {
   font-size: 2rem;
}

.detailsTitle {
   font-weight: 900;
   font-size: 2rem;
}

@media (max-width: 576px) {
   .sm-block {
      width: 100%;
      display: block;
   }

   .sm-hide {
      display: none;
   }

   .landingContain {
      font-size: 1rem;
   }

   .info {
      font-size: .75rem;
   }

   .onlineTitle {
      font-size: 2.5rem;
   }

   .benefitCircle {
      width: calc(var(--circle-size) + 4vw);
      height: calc(var(--circle-size) + 4vw);
   }

   .benefitsTitle {
      font-weight: 900;
      font-size: 2.5rem;
   }

   .benefitCircle span {
      height: calc(var(--circle-size) + 4vw);
   }

   .benefitCircle p {
      font-size: calc(0.4rem + 1vw);
   }

}

@media (max-width: 767px) {
   .md-hide {
      display: none;
   }
}

@media (min-width: 576px) {
   .xs-visible {
      display: none;
   }


   .sm-visible {
      display: flex;
   }

   .md-visible {
      display: flex;
   }

   .lg-visible {
      display: flex;
   }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
   .xs-visible {
      display: none;
   }

   .sm-visible {
      display: flex;
   }

   /*
   .md-visible {
      display: flex;
   }

   .lg-visible {
      display: flex;
   } */
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
   .xs-visible {
      display: none;
   }

   .sm-visible {
      display: flex;
   }

   /*
   .md-visible {
      display: flex;
   }

   .lg-visible {
      display: flex;
   } */

}



/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   .xs-visible {
      display: none;
   }

   .sm-visible {
      display: flex;
   }

   /*
   .md-visible {
      display: none;
   }

   .lg-visible {
      display: flex;
   } */

}